@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Place Article</title>
</head>
<style>
    *{
    font-size: 2rem;
    }
</style>
<body>
<p id="articleId">!aricleId!</p>
<p id="location">!location!</p>
<p id="amount">!amount!</p>
<button type="submit" style="height:5rem; width: 10rem" value="Place Article">Place Article</button>
<button type="submit" style="height:5rem; width: 10rem" value="Take Article">Take Article</button>
</body>
</html>