@{
    Layout = "_ScannerLayout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Deliveries</title>
</head>
<body>
<div class="main-screen">
    <div class="delivery-container">
        <p id="delivery-container-name">!name!</p>
        <p id="delivery-container-id">!id!</p>
        <p id="delivery-container-date">!date!</p>
    </div>
</div>
</body>
</html>