@model StockModel
@{
    ViewData["Title"] = "Stock";
    Layout = "_Layout";
}
<body>

@* searchbar *@
<input type="text" class="search-bar" placeholder="Type to start searching...">
@*Sheet containing info about articles*@
<div class="sheet-top">
    <div class="name-column-top">Name</div>
    <div class="id-column-top">ID</div>
    <div class="quantity-column-top">Quantity</div>
    <div class="category-column-top">Category</div>
    <div class="location-column-top">Location</div>
</div>
<div class="article-sheet">
    @*For loop to create divs containing article info*@
    @if (Model.StockRows.Any())
    {
        foreach (var row in Model.StockRows)
        {
            <div class="name-column" onclick="showElement('view-article-modal'); showElement('modal-background')">@row.ArticleName</div>
            <div class="id-column" onclick="showElement('view-article-modal'); showElement('modal-background')">@row.ArticleId</div>
            <div class="quantity-column" onclick="showElement('view-article-modal'); showElement('modal-background')">@row.Quantity</div>
            <div class="category-column" onclick="showElement('view-article-modal'); showElement('modal-background')">@row.Category</div>
            <div class="location-column" onclick="showElement('view-article-modal'); showElement('modal-background')">
                @{
                    string locations = "";
                    foreach (var rowLocation in row.Locations)
                    {
                        locations += rowLocation + ", ";
                    }
                    locations = locations.Substring(0, locations.Length - 2);
                }
                @locations
            </div>
        }
    }
</div>
<div class="modal-background" id="modal-background" onclick="hideElement('new-article-modal'); hideElement('view-article-modal'); hideElement('modal-background')"></div>

@*Modal for showing existing articles*@
<div class="view-article-modal" id="view-article-modal">
    <div class="view-article-modal-image-box">
        <img src="~/images/vector-Search.png" alt="Search-Icon">
    </div>
    <div class="exit-cross-container">
        <img src="~/images/exit-Cross.png" alt="Exit-Cross" onclick="hideElement('view-article-modal')">
    </div>
    <p class="view-article-modal-name-label">!Name!</p>
    <p class="view-article-modal-category-label">!Category</p>
    <h4 class="view-article-modal-price-label">!Price!</h4>
    <textarea class="view-article-modal-textarea">!Description!</textarea>
</div>
</body>