@model TestViewModel

@{
    Layout ="_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>DB - Test</title>
</head>
<body>
<div>
     
    @if (Model is not null)
    {
        @foreach (var record in Model.tData)
        {
            @*<h1 class="display-4">@record.id</h1>*@
            <p>@record.value</p>

        }
    }
    
    

<p>Use this page to detail your site's privacy policy.</p>
</div>
</body>
</html>