@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TotalStockViewModel
@{
    ViewData["Title"] = "Stock";
    Layout = "_Layout";
}
<body>
    @* searchbar *@
    <input type="text" class="search-bar" placeholder="Type to start searching...">
    @*Sheet containing info about articles*@
    <div class="sheet-top">
        <div class="name-column-top-article-total">Name</div>
        <div class="quantity-column-top-article-total">Quantity</div>
    </div>
    <div class="article-sheet">
        @*For loop to create divs containing stock info*@
        @if (Model.StockModels != null)
        {
            foreach (var stock in Model.StockModels)
            {
                <a asp-controller="Home" asp-action="UpdateArticle" asp-route-id="@stock.Id">
                    X
                </a>
                <div class="name-column-article-total">
                    @stock.ArticleName
                </div>
                <div class="quantity-column-article-total">
                    <p>@stock.Quantity</p>
                </div>
            }
        }
    </div>
</body>