/* Sets font-family and font color for each page containing stylesheet.css*/
* {
    font-family: stratos,sans-serif;
    color: #5020bb;
    user-select:none;
}

/*top-navigation*/
.top_nav {
    position: absolute;
    width: 100%;
    height: 70px;
}
.top_nav_logo{
    position:absolute;
    height:75px;
    width:75px;
    margin-left:10px;
    margin-top:20px;
}
.top_nav_button_container{
    position:relative;
    float:right;
    height:70px;
    width:600px;
}
/*Style for each href in top_nav*/
.top_nav_button_container a {
    display: inline-block;
    height: 70px;
    width: 150px;
    margin-left: -4px;
}
.top_nav_button_container a p{
    text-align:center;
    margin-top:22px;
    color:#7b42fa;
    font-weight:bold;
}
/*End top_nav*/

/*Style for index page*/
.twin-container{
    position:absolute;
    margin-top:240px;
    height:640px;
    width:100%;
    margin-left:-21.1%;
    background-color:#f5f5f5
}
.left-twin{
    position:relative;
    height:100%;
    width:49%;
    flex-direction:column;
    display:inline-block;
    background-color:#7b42fa;
    color: #fff;
}
.left-twin h1{
    color:white;
    text-align:center;
    margin-top:20px;
}
.right-twin{
    position:absolute;
    height:100%;
    width:49%;
    display:inline-block;
    background-color:#f5f5f5;
}
.right-twin h1{
    margin-top:20px;
    color:#7b42fa;
    text-align:center;
}
/*Style for Stock page*/

/*Add article button*/
.btn-add-article{
    position:absolute;
    margin-top: 120px;
    margin-left:65%;
    height:35px;
    width:150px;
    border:1px solid black;
    box-shadow:2px 5px dimgrey;
    cursor:pointer;
}
.btn-add-article p{
    color:black;
    text-align:center;
    margin-top:4px;
}
/*Search bar styling*/
.search-bar{
    margin-left:10px;
    position:absolute;
    margin-top:125px;
    width:400px;
    border-radius:12px;
    color:black;
}
/*Makes divs look like clickable buttons*/
.btn-active:hover{
    background-color:lightgrey;
}
.btn-active:active{
    background-color:darkgrey;
    box-shadow:1px 3px black;
    transform: translateY(4px);
}
/*Style for stock article-sheet*/
.sheet-top{
    position:absolute;
    width:79%;
    max-width:1100px;
    height:1px;
}
.name-column-top, .id-column-top, .quantity-column-top, .category-column-top, .location-column-top {
    width: 19%;
    height: 35px;
    display: inline-block;
    color: black;
    margin-top:185px;
    font-weight:bold;
}

.name-column-top-articles, .price-column-top-articles, .category-column-top-articles {
    width: 32%;
    height: 35px;
    display: inline-block;
    color: black;
    margin-top:185px;
    font-weight:bold;
}
.name-column-top-articles{
    margin-left:1.5%;
}
.price-column-top-articles{
    margin-left:-0.5%;
}
.category-column-top-articles{
    margin-left:-0.7%;
}

.article-sheet{
    position:absolute;
    height:650px;
    width:80%;
    max-width:1100px;
    border:1px solid black;
    box-shadow:1px 1px dimgrey;
    margin-top:210px;
    overflow:auto;
    border-radius:3px ;
}

.name-column-top{
    margin-left:1.5%;
}
/*style for columns within article-sheet*/
.name-column, .id-column, .quantity-column, .category-column, .location-column{
    width:19%;
    height:35px;
    border: 1px solid black;
    display:inline-block;
    color:black;
    user-select: text;}

/*To prevent columns from lining up on the left side of div while not giving every column a margin*/
.name-column{
    margin-left:1.5%;
}

.name-column-articles, .price-column-articles, .category-column-articles{
    width:32%;
    height:35px;
    border: 1px solid black;
    display:inline-block;
    color:black;
    user-select: text;
}
/*To prevent columns from lining up on the left side of div while not giving every column a margin*/
.name-column-articles{
    margin-left:1.5%;
}
/*End article-sheet*/

/*Clickable background which closes modal when clicked*/
.modal-background{
    position:absolute;
    background-color:transparent;
    height:100%;
    width:103.9%;
    margin-left:-25%;
    display:none;
    z-index:1;
}
/*Style for new-article-modal*/
.new-article-modal{
    position:fixed;
    background-color:white;
    border:1px solid black;
    margin-top:175px;
    height:700px;
    width:80%;
    max-width:1250px;
    border-radius:5px;
    box-shadow:2px 5px dimgrey;
    z-index:2;
}
/*Style for new article modal*/
.new-article-modal input{
    border-radius:4px;
    position:absolute;
    color:black;
    width:25%;
    min-width:100px;
}
/*Divs on the modal itself*/
.new-article-modal-name-input-label{
    margin-left:300px;
    margin-top:22px;
    position:absolute;
    color:black;
}
.new-article-modal-category-input-label{
    margin-left:300px;
    margin-top:75px;
    position:absolute;
    color:black;
}
.new-article-modal-price-input-label{
    margin-left:66%;
    margin-top:5px;
    position:absolute;
    color:black;
}
.new-article-modal-image-box{
    position:absolute;
    height:180px;
    width:180px;
    margin-left:30px;
    margin-top:30px;
    border:1px solid black;
}
.new-article-modal-image-box img{
    height:180px;
    width:180px;
}
.new-article-modal-add-img-input{
    position:absolute;
    margin-top: 220px;
    margin-left:45px;
}
.new-article-modal-name-input{
    margin-top:30px;
    margin-left:300px;
}
.btn-submit-article{
    position:absolute;
    margin-top: 630px;
    margin-left:50px;
    height:35px;
    width:150px;
    border:1px solid black;
    box-shadow:2px 5px dimgrey;
    cursor:pointer;
}
.btn-submit-article h4 {
    color: black;
    text-align: center;
    font-size: 18px;
    margin-top: 4px;
}
.new-article-modal-category-input{
    margin-top:100px;
    margin-left:300px;
}
.new-article-modal-price-input{
    margin-top:30px;
    margin-left:66%;
}
.new-article-modal-description-input{
    margin-top:230px;
    margin-left:30%;
    height:450px;
    width:65%;
    text-align:left;
    resize:none;
    color:black;
    min-width:400px;
}
.exit-cross-container{
    position:relative;
    float:right;
    height:30px;
    width:30px;
    margin-right:5px;
    margin-top:5px;
    cursor:pointer;
}
.exit-cross-container img{
    height:30px;
    width:30px;
}
/*Style for existing article modal*/
.view-article-modal{
    position:fixed;
    background-color:white;
    border:1px solid black;
    margin-top:175px;
    height:700px;
    width:80%;
    max-width:1250px;
    display:none;
    border-radius:5px;
    box-shadow:2px 5px dimgrey;
    z-index:2;
}
.view-article-modal-image-box{
    position:absolute;
    height:200px;
    width:200px;
    margin-left:30px;
    margin-top:30px;
    border:1px solid black;
}
.view-article-modal-image-box img {
    height: 200px;
    width: 200px;
}
.view-article-modal p{
    position:absolute;
    color:black;
    font-weight:bold;
    margin-left:250px;
}
.view-article-modal-name-label{
    margin-top:50px;
}
.view-article-modal-category-label{
    margin-top:100px;
}
.view-article-modal-price-label{
    margin-top:50px;
    margin-left:80%;
    color:black;
}
.view-article-modal-textarea{
    margin-top:170px;
    margin-left:30%;
    height:425px;
    width:65%;
    text-align:left;
    resize:none;
    color:black;
    min-width:400px;
}